## K -Nearest Neighbor Classsification : 
Given sonar Dataset , we need to classify whether the given new data is Rocks(R) or Mines(M).

#### Step 1:
importing libraries to play with

In [217]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Step 2:
Getting data from a file

In [218]:
dataset = pd.read_csv('sonar-Copy1.all-data',header=None)
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [219]:
#checking whether there is a missing data
dataset.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
     ..
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
48    0
49    0
50    0
51    0
52    0
53    0
54    0
55    0
56    0
57    0
58    0
59    0
60    0
Length: 61, dtype: int64

In [220]:
#Getting features and class value
array = dataset.values
X = array[:,0:-1].astype(float)
y = array[:,-1]

#### Step 3:
preprocessing dataset       
R - 1           
M - 0

In [221]:
#Using label encoder ,we are channging the categories(R,M) to 0 and 1
#from sklearn.preprocessing import LabelEncoder
#encode = LabelEncoder().fit(y)
#y = encode.transform(y)
#y
dataset.groupby(60).size()
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [222]:
dataset.shape

(208, 61)

#### Step 4:
Splitting dataset randomly

In [223]:
from sklearn.model_selection import train_test_split
X_train ,X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2,random_state =7)

#### Step 5:
modelling our sonar dataset

In [236]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error,accuracy_score
from math import sqrt
classifier = KNeighborsClassifier().fit(X_train,y_train)
y_pred = classifier.predict(X_test)
acc = accuracy_score(y_test,y_pred)
acc

0.7380952380952381

In [229]:
#rmse = []
#for k in range(20):
#    k = k+1
#    classifier = KNeighborsClassifier(n_neighbors = k).fit(X_train,y_train)
#    y_pred = classifier.predict(X_test)
#    error = sqrt(mean_squared_error(y_test,y_pred))
#    rmse.append(error)
#    print('RMSE value for k='+str(k)+' is: '+str(error))

In [244]:
from sklearn.model_selection import cross_val_score,KFold
kfold = KFold(n_splits = 10,random_state = 7)
cv_res = cross_val_score(classifier,X_train,y_train,cv = kfold,scoring = 'accuracy')
print('Accuracy: ',cv_res.mean())

Accuracy:  0.8080882352941176

In [245]:
from sklearn.metrics import confusion_matrix

In [246]:
cm = confusion_matrix(y_test,y_pred)

In [247]:
cm

array([[20,  7],
       [ 4, 11]], dtype=int64)